<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

  <div class="content">
    
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <h3>Name - {{ user.username }}<h2> <br/>
            <h3>Email - {{ user.email }} </h3><br/>
            <h3>Password - {{ user.password }} </h3><br/>
            <h3>Created at- {{ user.date_joined }}</h3><br/>
          
        </tr>
        </thead>
        <tbody>
   
        <tr>
         
          

            </td>
        </tr>
  
        </tbody>
    </table>
  
    <div class="button">
      <a href="{% url 'delete_detail' user.id  %}" class="btn btn-primary">DELETE &rarr;</a>
  </div>

  </div>
</body>
</html>